body{
    background-image: url(cev-landscape.jpg);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain;
    
}
h1{
    color: aqua;
    background: url();
}