

@media (min-width: 576px) {}


@media screen and (min-width: 768px) {
    header span#menu-1{
        display: none;
    }
    header menu#itens{
        display: block;
    }
    header menu#itens ul li{
        display: inline-block;
    }

    main{
        width: 768px;
    }
}


@media (min-width: 992px) { 

}


@media (min-width: 1200px) { }

@media (min-width: 1400px) { }

